<% content_for :page_title do %>
	<%= Spree.t('message') %> <%= @form.id %>
<% end %>

<% content_for :table_filter_title do %>
	<%= Spree.t('search') %>
<% end %>

<% content_for :table_filter do %>

<%- end -%>

<table class="table">
	<tr>
		<td>Submitted on</td>
		<td><%= @form.created_at.strftime("%m/%d/%Y") %></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><% if Spree::User.find_by_email(@form.email) %><%= link_to Spree::User.find_by_email(@form.email).email, Spree::User.find_by_email(@form.email) %><% else %><%= @form.email %><% end %></td>
	</tr>
	<tr>
		<td>Name</td>
		<td><%= @form.name %></td>
	</tr>
	<tr>
		<td>Phone</td>
		<td><%= @form.phone %></td>
	</tr>
	<tr>
		<td>Company</td>
		<td><%= @form.company %></td>
	</tr>
	<% if @form.source == "contact" %>
	<tr>
		<td>Order</td>
		<td><%= link_to @form.order.number, admin_order_path(@form.order.id) unless @form.order.nil? %></td>
	</tr>
	<% elsif @form.source == "quote" %>
	<tr>
		<td>Product Type</td>
		<td><%= link_to @form.taxon.name, admin_taxon_path(@form.taxon.id) %></td>
	</tr>
	<tr>
		<td>Vendor</td>
		<td><%= @form.vendor %></td>
	</tr>
	<% end %>
	<tr>
		<td>Message</td>
		<td><%= @form.message %></td>
	</tr>
	<% unless @form.complete %>
		<%= link_to "Mark Complete", complete_admin_message_path(@form.id) %>
	<% end %>
</table>